<!DOCTYPE html>

<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>向钱看-快乐生活，快乐工作，尽在向前看</title>
<link type="text/css" rel="stylesheet" href="css/common.css" />
<link type="text/css" rel="stylesheet"
	href="http://www.happyjob.com/templates/new_temp/css/home.css" />
<script type="text/javascript" src="js/tiaozhuan.js"></script>
<script type="text/javascript" src="js/grtiaozhuan.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.js"></script>
</head>

<body>
	<!--头部-->
	<div class="head">
		<div class="wrap">
			<span class="fr"> <em class="mr15">您好<a
					onclick="doPerson" id="user"><a href="doLogout">[注销]</a></em> <a
				href="#">关于我们</a>
			</span>
			<div class="mr20 city">
				<i>石家庄市</i> <span>[切换城市]</span> <em></em>
				<div class="choice">
					<a href="#">石家庄市</a> <a href="#">天津市</a> <a href="#">郑州市</a> <a
						href="#">济南市</a> <a href="#">太原市</a> <a href="#">北京市</a>
				</div>
			</div>


		</div>
	</div>

	<!--导航-->
	<div class="nav">
		<div class="wrap clearfix">
			<a class="fl" href="#"><img src="img/logo.png"></a>
			<div class="navcont fl" style="width: 400px;">
				<a onclick="doindex()">全部兼职</a> <a class="on" href="#">我的中心</a>
			</div>
			<div class="search fr">
				<form method="get" name="frm" action="#">
					<input class="txt fl" style="width: 210px;" type="text" value=""
						name="keyword" id="keyword" placeholder="请输入搜索内容"> <input
						class="btn fl" type="button" value="搜索"
						onclick="document.forms['frm'].submit()"> <input
						type="hidden" value="" name="province" id="province" /> <input
						type="hidden" value="石家庄市" name="city" id="city" /> <input
						type="hidden" value="" name="county" id="county" /> <input
						type="hidden" value="" name="category" id="category" /> <input
						type="hidden" value="" name="nature" id="nature" />
				</form>

			</div>
		</div>
	</div>

	<div class="wrap subg mt10">
		<div class="sbg2 clearfix">
			<div class="side sub_nav fl">
				<a class="on" href="#"><em class="icon02"></em>我的兼职</a> <a
					onclick="dogrxx()"><em class="icon03"></em>个人信息</a> <a
					onclick="doupdatem()"><em class="icon17"></em>密码管理</a>
			</div>

			<div class="sub_cont fr mycont" style="min-height: 620px;">
				<ul class="job_nav mb10">

				</ul>
				<div class="job_cont">
					<div id="test">
						<p class="ml20 lineH24">投递时间：2019-08-19</p>
						<a class="list" href="#">
							<div class="title fontS16 clearfix">
								<span class="fontC01 fl">[促销]</span> <span class="fl">暑期工</span>

								<span class="fontC02 fr">3500元/天</span>
							</div>
							<div class="cont clearfix">
								<ul class="fl">
									<li>工作时间：2019-06-20 至 2019-08-30</li>
									<li>工作需求：不需要连续工作</li>
									<li>工作地点：长安去广安大街财富大厦A座1801</li>
									<li>招聘人数：27 男 32 女</li>
									<li>发布平台：石家庄鸿业志达科技有限公司</li>
									<li>发布时间：2016-05-31</li>
								</ul>
							</div>
						</a>
					</div>
					<input type="hidden" name="page_num" id="page_num" value="1" />

					<div class="page center mt30">
						<a disabled>上一页</a> <a href="#" class="cur"
							onclick="pc_audit0Page('1')">1</a> <a disabled>下一页</a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="foot mt30">
		<div class="wrap center">©2015 河北乐聘人力资源服务有限公司 丨 兼职乐，专属兼职神器 丨
			冀ICP备15013734</div>
	</div>
	<div class="gotop"></div>
	<script type="text/javascript" language="javascript"
		src="http://www.happyjob.com/templates/new_temp/js/jquery-1.7.2-min.js"></script>
	<script type="text/javascript" language="javascript"
		src="http://www.happyjob.com/templates/new_temp/js/common.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			var username = getCookie("username");
			$("#user").html(username);
			$.ajax({
				url : "zjs/findObjectsByUserName?username=" + username,//后台请求的数据，用的是PHP
				dataType : "json",//数据格式 
				type : "post",//请求方式
				async : false,//是否异步请求
				success : function(data) { //如果请求成功，返回数据。
					console.log(data);
					var html = "";
					var ca = data.data;
					for (var i = 0; i < ca.length; i++) { //遍历data数组
						var ls = ca[i];
						html += doinde(ls);
					}
					$("#test").html(html); //在html页面id=test的标签里显示html内容
				}
			})
		})
		function doinde(ls) {
			/*  onclick='doxiangq(" + ls.id + ")'*/
			var tds = "<p class='ml20 lineH24'>投递时间：" + ls.cl + "</p>"
					+ "<a class='list'>"
					+ "<div class='title fontS16 clearfix'>"
					+ "<span class='fontC01 fl'>" + ls.classw + "</span>"
					+ "<span class='fl'>" + ls.name + "</span>"
					+ "<i class='yan'></i>" + "<span class='fontC02 fr'>"
					+ ls.money + "</span>" + "</div>"
					+ "<div class='cont clearfix'>" + "<ul class='fl'>"
					+ "<li>工作时间：" + ls.worktime + "</li>" + "<li>工作需求："
					+ ls.name + "</li>" + "<li>工作地点：" + ls.address + "</li>"
					+ "<li>招聘人数：" + ls.number + "</li>"
					+ "<li style='color:red'>联系电话：" + ls.tel + "</li>"
					+ "<li>发布时间：" + ls.createtime + "</li>" + "</ul>"
					+ "<div class='btn  bm  fr mt30' onclick='qiandao(" + ls.id
					+ ")' id='qian" + ls.id + "dao'>点我签到</div>" + "</div>"
					+ "</a>";
			return tds;
		}

		function qiandao(id) {

			$.ajax({
				url : "zjs/doinsertmap?id=" + id+"&username="+username,
				dataType : "json",//数据格式 
				type : "post",//请求方式
				async : false,//是否异步请求
				success : function(data) { //如果请求成功，返回数据。
					console.log(data);
					alert("签到成功")
					$("#qian" + id + "dao").html("已签到")

				}
			})

			
		}
	</script>



</body>

</html>