<!--个人信息界面-->
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>向钱看-快乐生活，快乐工作，尽在向钱看</title>
<link type="text/css" rel="stylesheet"
	href="http://www.happyjob.com/templates/new_temp/css/common.css" />
<link type="text/css" rel="stylesheet"
	href="http://www.happyjob.com/templates/new_temp/css/home.css" />
<script type="text/javascript" src="js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/tiaozhuan.js"></script>
<script type="text/javascript" src="js/grtiaozhuan.js"></script>
</head>
<body>
	<!--头部-->
	<div class="head">
		<div class="wrap">
			<span class="fr"> <em class="mr15">您好<a onclick="doPerson" id="user"><a
					href="doLogout">[注销]</a></em> <a
				href="#">关于我们</a>
			</span>
			<div class="mr20 city">
				<i>石家庄市</i> <span>[切换城市]</span> <em></em>

			</div>
		</div>
	</div>
	<!--导航-->
	<div class="nav">
		<div class="wrap clearfix">
			<a class="fl" href="#"><img src="img/logo.png"></a>
			<div class="navcont fl" style="width: 400px;">
				<a onclick="doindex()">全部兼职</a> <a class="on" href="#">我的中心</a>
			</div>
			<div class="search fr">
				<form method="get" name="frm" action="#">
					<input class="txt fl" style="width: 210px;" type="text" value=""
						name="keyword" id="keyword" placeholder="请输入搜索内容"> <input
						class="btn fl" type="button" value="搜索"
						onclick="document.forms['frm'].submit()"> <input
						type="hidden" value="" name="province" id="province" /> <input
						type="hidden" value="石家庄市" name="city" id="city" /> <input
						type="hidden" value="" name="county" id="county" /> <input
						type="hidden" value="" name="category" id="category" /> <input
						type="hidden" value="" name="nature" id="nature" />
				</form>

			</div>
		</div>
	</div>
	<div class="wrap subg mt10">
		<div class="sbg2 clearfix">
			<div class="side sub_nav fl">
				<a onclick="dojz()"><em class="icon02"></em>我的兼职</a> <a class="on"
					href="#"><em class="icon03"></em>个人信息</a> <a onclick="doupdatem()"><em
					class="icon17"></em>密码管理</a>
			</div>
			<div id="test"></div>
		</div>
	</div>
	<div class="foot mt30">
		<div class="wrap center">©2019 德哥苹果食品有限公司 丨 专属兼职神器 丨
			冀ICP备15013734</div>
	</div>
	<div class="gotop"></div>
<script type="text/javascript">
		$(document).ready(function() {
			var username = getCookie("username");
			$("#user").html(username);
			$.ajax({
				url : "izUser/doFindIzUserByUserName?username="+username,//后台请求的数据，用的是PHP
				dataType : "json",//数据格式 
				type : "post",//请求方式
				async : false,//是否异步请求
				success : function(data) { //如果请求成功，返回数据。
					console.log(data);
					var html = "";
					var ca = data.data;
					for (var i = 0; i < ca.length; i++) { //遍历data数组
						var ls = ca[i];
						html += doinde(ls);
					}
						$("#test").html(html); //在html页面id=test的标签里显示html内容
				}
			})
		})
		function doinde(ls) {
			var tds = "<div class='sub_cont fr mycont'>"+
			"<div class='money clearfix'>"+
			"<span class='pic fl'><img></span> <span"+
				"class='fontS18 fl ml15 mt20'>"+ls.name+"</span> <a class='ml20 mt10'"+
				"onclick='doupdatep()'>完善简历</a> <a class='ml20 mt10'"+
				"onclick='doupdatem()'>修改密码</a>"+
		"</div>"+
		"<div class='bank'>"+
			"<p class='menu fontS16'>"+
				"<em class='icon01 fl mr5'></em>个人信息"+
			"</p>"+
			"<ul class='formbox'>"+
				"<li><span>工作经验</span>"+ls.experience+"</li>"+
				"<li><span>性别</span>"+ls.gender+"</li>"+
				"<li><span>学位</span>"+ls.learn+"</li>"+
				"<li><span>电话</span>"+ls.phone+"</li>"+
				"<li><span>邮箱</span>"+ls.mail+"</li>"+
				"<li><span>QQ</span>"+ls.qq+"</li>"+
				"<li><span>健康证</span>"+ls.healthy+"</li>"+
				"<li><span>工作城市</span>"+ls.city+"</li>"+
			"</ul>"+
		"</div>"+
	"</div>";
			return tds;
		}
	</script>
</body>
</html>


