<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>向钱看-快乐生活，快乐工作，尽在向钱看</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=9">
<link
	href="http://www.happyjob.com/templates/new_temp/css/bootstrap.min.css"
	rel="stylesheet">
<link href="http://www.happyjob.com/templates/new_temp/css/newpc.css"
	rel="stylesheet">
<link
	href="http://www.happyjob.com/templates/new_temp/css/datepicker.css"
	rel="stylesheet">
	<link rel="stylesheet" href="css/tc.css">

<script type="text/javascript" src="js/jquery-1.4.2.js"></script>
<script type="text/javascript" src="js/tiaozhuan.js"></script>
<script type="text/javascript" src="js/grtiaozhuan.js"></script>


</head>

<body>
	<div class="nav_top">
		<div class="container">
			<a class="pull-right" href="#">关于我们</a> <span
				class="pull-right mr15">您好<a onclick="dogrzx()" id="user"></a><a href="doLogout"
				class="ml10">[注销]</a></span>
		</div>
	</div>

	<div class="navbar nav01">
		<div class="container">
			<div class="navbar-header">
				<button class="navbar-toggle collapsed" type="button"
					data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">向钱看</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<span class="navbar-brand clearfix"> <a href="#"><img
						class="pull-left" src="img/logo.png"></a>
				</span>
			</div>
			<div class="navbar-collapse collapse" role="navigation">
				<!-- <a href="javascript:void(0);" onclick="doxzzw()"
					class="btn btn-danger pull-right mt10 hidden-xs"
					style="color: #fff">充值服务</a> -->
					<a class="example-image-link btn btn-danger pull-right mt10 hidden-xs" href="img/zf5.jpg" data-lightbox="example-1" style="color: #fff">充值服务</a>

				<ul class="nav navbar-nav mt10 ml10" id="menu">
					<li><a onclick="dogszy()">公司主页</a></li>
					<li><a onclick="dozwgl()">职位管理</a></li>
					<li class="cur"><a onclick="dogrzx()">个人中心</a></li>
				</ul>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row clearfix">
			<div class="col-md-3 col-sm-4" style="">
				<div class="box02" style="border-top: none;">
					<ul class="list_menu">
						<li><a onclick="doxzzw()"><span
								class="glyphicon icon01 mr5"></span>发布职位</a></li>
						<li><a onclick="dozwgl()"><span
								class="glyphicon icon02 mr5"></span>修改职位</a></li>
						<li><a onclick="doxgmm()"><span
								class="glyphicon icon04 mr5"></span>修改密码</a></li>
						<li><a href="#"><span class="glyphicon icon04 mr5"></span>信息管理</a>
						</li>
					</ul>
				</div>
			</div>

			<form class="form-horizontal" role="form" method="post"
				action="" name="form1" id="form1"
				enctype="multipart/form-data">
				<div class="col-md-9 col-sm-8">
					<div class="box02">
						<div class="chaxun clearfix">
							<span class="photo pull-left"><img class="img-rounded"
								src="http://www.happyjob.com/templates/new_temp/images/photo2.jpg" id="loc_img"></span>

						</div>
						<p class="fontS16 ml20 mt20">
							<span class="glyphicon icon02 mr5"></span>修改企业信息
						</p>
						<div class="password">
							<div class="form-group">
								<label class="col-sm-3 col-xs-4 control-label"><span
									class="text-danger mr5">*</span>企业名称：</label>
								<div class="col-sm-9 col-xs-8">
									<input type="text" class="form-control" name="name"
										id="name" placeholder="请输入企业名称" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-xs-4 control-label"><span
									class="text-danger mr5">*</span>负责人：</label>
								<div class="col-sm-9 col-xs-8">
									<input type="text" class="form-control" name="boss"
										id="boss" placeholder="请输入负责人" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-xs-4 control-label"><span
									class="text-danger mr5">*</span>手机号：</label>
								<div class="col-sm-9 col-xs-8">
									<input type="text" class="form-control" name="tel"
										id="tel" placeholder="" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-xs-4 control-label">地址：</label>
								<div class="col-sm-9 col-xs-8">
									<input type="text" class="form-control" name="address"
										id="address" placeholder="" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-xs-4 control-label">是否认证：</label>
								<div class="col-sm-9 col-xs-8">
									<input type="text" class="form-control" name="autherization"
										id="autherization" placeholder="" value="">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 col-xs-4 control-label"><span
									class="text-danger mr5">*</span>企业介绍：</label>
								<div class="col-sm-9 col-xs-8">
									<textarea class="form-control" style="height: 150px;"
										name="jianjie" id="jianjie" placeholder="请输入企业简介"></textarea>
								</div>
							</div>
							<div class="form-group mt20">
								<div class="col-sm-offset-3 col-sm-9 col-xs-offset-4 col-xs-8">
									<button type="submit" onclick="login()" class="btn btn-success btn-lg"
										id="data_button">提交修改</button>
								</div>
							</div>
						</div>
					</div>
			</form>
		</div>
	</div>
	</div>
	<div class="foot mt20">
		<div class="container">
			<p class="text-center">©2019 德哥苹果食品有限公司丨 向钱看，专属兼职神器 丨 冀ICP备15013734</p>
		</div>
	</div>

	<script type="text/javascript">
	$(document).ready(function() {
		 var username=getCookie("username");
		 $("#user").html(username);
		 doMeun(username);
		 $.ajax({
				url : "company/doFindCompanyByUserName?username="+username,//后台请求的数据，用的是PHP
				dataType : "json",//数据格式 
				type : "post",//请求方式
				async : false,//是否异步请求
				success : function(data) {   //如果请求成功，返回数据。
					console.log(data);
					var html = "";
					var ca=data.data;
					
						var ls = ca[0]; 
						$("#name").val(ls.name);      
						$("#boss").val(ls.boss);      
						$("#tel").val(ls.tel);      
						$("#address").val(ls.address);      
						$("#autherization").val(ls.autherization);      
						$("#jianjie").val(ls.jianjie);      
					}
			})
		});
	function login() {	
		
		var username=getCookie("username");
		$.ajax({ //几个参数需要注意一下
			type : "POST",//方法类型
			dataType : "json",//预期服务器返回的数据类型
			url : "company/doUpdateCompanyByUserName?username="+username,//url
			data : $('#form1').serialize(),
			success : function(data) {
			//console.log(data);
			alert("提交成功");
				window.location.href = "doTijao";
			},
			error : function() {
				alert("异常！");
			}
		});
	}
	</script>
	<script src="js/tc.js"></script>
</body>

</html>