<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jianz.degeapp.dao.NociteDao">
	
	<insert id="insertObject">
	
	insert into notice values (null,#{title},now(),#{context},#{publish})
	
	</insert>
	<select id="findObject" resultType="map">
	select * from  notice ;
	</select>
	
</mapper>